body
{
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  padding: 0px;
  margin: 0px;
}

a
{
  color:inherit;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 20px;
  border: 1px solid black;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #70db70;
}

:root
{
  --navBarColor: #262626;
  --navBarButtonColor: #4CAF50;
  --textBackground:#bbff99;
}

.container
{
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: 450px 60px 500px 500px 500px 80px;
  grid-template-areas:
  "a a"
  "b b"
  "c d"
  "e e"
  "f g"
  "h h";
  grid-gap: 10px;
}

.topTitle
{
  grid-area: a;
  background-image: url(images/titleImage.jpg);
  background-size: cover;
  color: white;
  font-size: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar
{
  background-color: var(--navBarColor);
  grid-area: b;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.navBarListItem
{
  float: left;
  color: white;
  font-size: 1.75em;
  width: auto;
  min-width: 80px;
  padding: 0px 15px;
  line-height: 60px;
  display: flex;
  justify-content: center;
  background-color: var(--navBarButtonColor);
  border-right: 1px solid var(--navBarColor);
}

.navBarListItem:hover
{
  background-color: #5fb95f;
}

.clubInfo
{
  background-color: var(--textBackground);
  overflow: auto;
  padding: 15px 0px;
}


.clubImage
{
  background-image: url();
  background-color: grey;
  display: flex;
  justify-content: center;
  font-size: 4em;
  color: white;
  line-height: 500px;
}

.title
{
  font-size: 3em;
  border-bottom: 1px solid black;
  margin: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

.text
{
  font-size: 1.75em;
  padding: 10px 40px;
}

.footer
{
  grid-area: h;
  background-color: var(--navBarColor);
  color: white;
  font-size: 1.75em;
  line-height: 80px;
  padding-left: 10px;
}

.galleryContainer
{
  height: 100%;
  width: 100%;
  grid-area: e;
  background-image: radial-gradient(#f2f2f2 40%, white 60%);
  align-items: center;
  justify-content: center;
  display: flex;
}

.galleryImage
{
  width:70%;
  max-width: 700px;
  height: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.galleryImage span
{
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 20px;
  font-size: 2em;
  color: white;
}

@media screen and (max-width: 800px) {

  .body
  {
    
  }
  .container{
    grid-template-rows: 450px 60px 550px 500px 500px 500px 500px 80px;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "g"
    "f"
    "h";
  }

  .clubInfo
  {
    width: 80%;
    margin: auto;
  }

  .navBar
  {
    justify-content: center;
  }

}
